services:
  minimal-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
    - ConnectionStrings__MySql=Server=mysql-container;Database=minimal_api;Uid=root;Pwd=root;
    - JWT=minimal-api-alunos-vamos_lรก
    depends_on:
      - mysql-container

  mysql-container:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: minimal_api
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql-data: